/* 가급적 position 쓰지 말기. 나중에 일부 변경 시 코드 전체를 엎어야 할 수 있음 */

body {
  background-color: indianred;
}

/*
.bao {
  position: relative;
  top: 30px;
  left: 40%;
  width: 300px;
  height: 340px;
  border: 2px solid white;
  border-radius: 10px;
}
*/
.bao {
  margin: auto;
  margin-top: 30px;
  width: 300px;
  height: 350px;
  border: 2px solid white;
  border-radius: 10px;
}

/*
#baos {
  position: absolute;
  top: 20px;
  left: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("../../resources/bao.jpg");
  background-size: 100px 110px;
}
*/
#baos {
  margin: auto;
  margin-top: 15px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url("../../resources/bao.jpg");
  background-size: 120px 120px;
}

h3 {
  text-align: center;
  /* padding-top: 110px; */
  color: white;
  font-family: "고딕체";
}

.service {
  margin: 20px;
  padding-top: 15px;
  width: 260px;
  height: 35px;
  border: 2px solid white;
  text-align: center;
}

/* .service 추가하면서 수정
#git {
  font-weight: bold;
  text-align: center;
  color: white;
}
#insta {
  font-weight: bold;
  text-align: center;
  color: white;
}
*/

.service a {
  color: white;
  text-decoration: none;
}
.service:hover {
  background-color: white;
  color: black;
}

/* 처음 짠 코드
#git {
  margin: 20px;
  width: 260px;
  height: 35px;
  border: 2px solid white;
  font-family: "고딕체";
  font-weight: bold;
  text-align: center;
  color: white;
  padding-top: 15px;
}
#insta {
  margin: 20px;
  width: 260px;
  height: 35px;
  border: 2px solid white;
  font-family: "고딕체";
  font-weight: bold;
  text-align: center;
  color: white;
  padding-top: 15px;
}
*/
